/* links en el sitio */
a[href^="./"]{
 text-decoration:none;
}
/* links externos */
a[rel=external]:after{
  content: "↗";
}
a{
 color: #757;
}
a:visited{
 color: #535;
}

body{
 color: #010;
 max-width:40em;
 margin:0 auto;
 font-size:20px;
 padding: 1em;
 font-family:sans-serif;
}

footer{
 font-size: x-small;
 text-align: center;
}
footer img{
 margin:0;
}

pre{
 background-color: #fee;
 color: #434;
 padding:1em;
 border-radius:5px;
 overflow-x: auto;
}

blockquote{
 font-style: italic;
}

main h1{
 margin-top: 2.0em;
 font-size: 30px;
}
main h2{
 font-size: 25px;
/* border-top: 1px dashed;*/
 margin-top: 1em;
 margin-left:0.3em;
}
main h3{
 font-size: 20px;
 margin-top: 1em;
 margin-left:1em;
}

gallery{
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 justify-content:space-evenly;
 align-content:center;
}
img{
 margin:10px;
 border-radius:5px;
 max-width: 320px;
}

nav{
 font-size:smaller;
}

nav li{
 list-style-type:square;
 padding:0.2em;
}
main li{
 padding:0.5em;
}

table,th,td{
 border-style:inset;
 border-width: 1px;
}
th,td{
 padding:5px;
}
table{
 margin:10px;
 overflow-x: auto;
}

#count{ /* para tiempo */
word-wrap:break-word;
font-size:9px;
font-family:monospace;
}

/* desktop */
@media screen and (min-width: 600px) {
  nav li{
	display:inline;
  }
  img{ max-width: 100%; }
}
